<div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>The Affable Bean</h1>
        <p>Welcome to the online home of the Affable Bean Green Grocer. Our unique home delivery service brings you fresh organic produce, dairy, meats, breads and other delicious and healthy items direct to your doorstep.</p>
    </div>

    <!-- Shopping departments -->
    <div class="row-fluid">
        <div class="span3">
            <h2>Dairy</h2>
            <p><a href="#/department/1"><img src="img/categories/dairy.jpg"></a></p>
        </div>
        <div class="span3">
            <h2>Meats</h2>
            <p><a href="#/department/2"><img src="img/categories/meats.jpg"></a></p>
        </div>
        <div class="span3">
            <h2>Bakery</h2>
            <p><a href="#/department/3"><img src="img/categories/bakery.jpg"></a></p>
        </div>
        <div class="span3">
            <h2>Fruit&nbsp;&AMP;&nbsp;Veges</h2>
            <p><a href="#/department/4"><img src="img/categories/fruitveg.jpg"></a></p>
        </div>
    </div>

</div>
